# fly.toml app configuration file generated for atp on 2023-07-03T22:52:40-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "atp"
primary_region = "gru"
kill_signal = "SIGTERM"

[deploy]
  release_command = "/app/bin/migrate"

[env]
  FLY_LAUNCH_MODE = "clone"
  PHX_HOST = "atp.fly.dev"
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
  [http_service.concurrency]
    type = "connections"
    hard_limit = 1000
    soft_limit = 1000
