@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@keyframes move-down {
  0% {
    background-position: 0px -344px;
  }
  100% {
    background-position: -88px -344px;
  }
}

@keyframes move-left {
  0% {
    background-position: -88px -344px;
  }
  100% {
    background-position: -176px -344px;
  }
}

@keyframes move-up {
  0% {
    background-position: -176px -344px;
  }
  100% {
    background-position: -264px -344px;
  }
}

@keyframes move-right {
  0% {
    background-position: -264px -344px;
  }
  100% {
    background-position: -352px -344px;
  }
}

@keyframes move-complete {
  0% {
    background-position: 0px -344px;
  }
  100% {
    background-position: -352px -344px;
  }
}